/** @format */
/* Project variables*/

/* <!-- <<=========================Basic Tag Desing===================================>> --> */

:root {
  --color-white: #fff;
  --color-light: #f4f4f4;
  --color-dark: #525252;
  --color-black: #141415;

  --color-primary: rgb(25, 22, 75);
  --color-primary-light: rgb(66, 55, 223, 0.8);
  --color-sucess: #29f5a6;
  --color-warning: #ffce31;

  --transition: all 300ms ease;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}
body {
  background: var(--color-white);
  font-family: "Montserrat", sans-serif;
  color: black;
  max-width: 100vw;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--color-black);
  line-height: 1.2;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 0.86rem;
}
p {
  line-height: 1.8;
}

/* <!-- <<============================Basic Tag Desing Close===============================>> --> */

/* <!-- <<================================Navbar Desing====================================>> --> */

.container {
  width: 85%;
  margin: 0 auto;
}
.container a h3 {
  font-size: 25px;
}
section {
  padding: 10rem 0 7rem;
  max-width: 100vw;
  overflow-x: hidden;
}
section h1 {
  text-align: center;
  display: block;
  margin-bottom: 5rem;
}
img {
  width: 100%;
}
.btn {
  padding: 1.4rem 3.4rem;
  font-size: 1.1rem;
  color: var(--color-black);
  background: var(--color-white);
  display: inline-block;
  margin: 2rem 0;
  border-radius: 5px;
  transition: var(--transition);
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

nav {
  background: var(--color-white);
  height: 4.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--color-light);
}

nav button {
  display: none;
}
nav h3 {
  color: var(--color-primary);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav .container ul {
  display: flex;
  height: 100%;
}
nav .container ul li a {
  /* font-size: 16px;
  font-weight: 600; */
  height: 100%;
  width: 7rem;
  /* margin: 0px 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  position: relative;
  transition: var(--transition);
}

nav .container ul li a:hover {
  transition: var(--transition);
}
nav .container ul li a.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}
/* nav .container ul li a.active2:hover {
  color: var(--color-white);
  text-shadow: 0px 12px 0px var(--color-white);
  transition: var(--transition);
} */
nav .container ul li a.active2 {
  color: var(--color-white);
}

/* <!-- <<========================Navbar Desing Close============================>> --> */

/* <!-- <<=======================start landing page information design ===================================>> -->? */
section.landing {
  display: grid;
  place-items: center;
  position: relative;
  top: 3rem;
  padding-bottom: 14rem;
}
section.landing .container {
  display: grid;
  grid-template-columns: 5rem auto 26rem;
  gap: 2rem;
}

section.landing .social {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 5rem;
}
section.landing .social a {
  font-size: 1.5rem;
  background: var(--color-light);
  color: var(--color-dark);
  padding: 0.3rem;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
section.landing .social a:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
section.landing .info h1 {
  text-align: left;
  margin: 0;
}
section.landing h3 {
  margin: 2.4rem 0 1rem;
}
section.landing .info p {
  width: 35rem;
}

section.landing .profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.landing .profile-area .outer-cercle {
  height: 26rem;
  width: 26rem;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  position: absolute;
  animation: move 25s linear infinite;
}

@keyframes move {
  to {
    transform: rotate(360deg);
  }
}

section.landing .profile-area .outer-cercle i {
  display: block;
  width: 2rem;
  height: 2rem;
  font-size: 25px;
  border-radius: 50%;
  position: absolute;
  background: var(--color-white);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem var(--color-primary-light);
}
section.landing .profile-area .outer-cercle i:nth-child(1) {
  left: calc(50% - 1rem);
  top: -1rem;
}
section.landing .profile-area .outer-cercle i:nth-child(2) {
  right: -1rem;
  top: calc(50% - 1rem);
}
section.landing .profile-area .outer-cercle i:nth-child(3) {
  left: -1rem;
  top: calc(50% - 1rem);
}
section.landing .profile-area .outer-cercle i:nth-child(4) {
  left: calc(50% - 1rem);
  bottom: -1rem;
}

section.landing .profile-area .inner-cercle {
  position: absolute;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px var(--color-primary);
  border-style: solid;
  border-width: thin;
}

/* <!-- <<=======================End landing page information design ===================================>> -->? */

/* <!-- <<=======================Start about section information design===================================>> -->? */
section.about {
  background: var(--color-light);
}
section.about .container {
  display: grid;
  grid-template-columns: 26rem auto;
  gap: 5rem;
}
section.about p {
  margin-bottom: 1rem;
}
section.about .container .read-more-content {
  display: none;
}
section.about .container .read-more-content.show-content {
  display: block;
}
section.about .container .read-more {
  display: block;
  margin: 1rem 0 3rem;
  color: var(--color-primary);

  cursor: pointer;
}
section.about .container .read-more:hover {
  text-decoration: underline;

  transition: var(--transition);
}

/* <!-- <<=======================End about section information design===================================>> -->? */

/* <!-- <<=======================Start skill section design===================================>> -->? */
section.skills .container {
  width: 50%;
}
section.skills .container .skill {
  margin-bottom: 1rem;
}
section.skills .skill .head {
  background: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 1.6rem;
  cursor: pointer;
  height: 60px;
}
section.skills .skill .head h4 {
  color: var(--color-white);
}
section.skills .skill .head .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* section.skills .skill .head .left i {
  font-size: 25px;
} */
section.skills .skill .items {
  display: none;
}
section.skills .container .skill .items.show-items {
  display: block;
}

section.skills .skill .item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1.6rem;
  background: var(--color-light);
  margin-bottom: 0.3rem;
  transition: var(--transition);
}
section.skills .skill .item:hover {
  background: var(--color-white);
}
section.skills .skill .progress-area {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
section.skills .item .progress-bar {
  width: 100%;
  height: 1rem;
  background: var(--color-primary-light);
}

/* ==============UI/Ux start============= */
section.skills .item:nth-child(1) .progress-bar .progress {
  height: 100%;
  width: 85%;
  background: var(--color-primary);
}
section.skills .item:nth-child(2) .progress-bar .progress {
  height: 100%;
  width: 70%;
  background: var(--color-primary);
}
section.skills .item:nth-child(3) .progress-bar .progress {
  height: 100%;
  width: 55%;
  background: var(--color-primary);
}
/* ==============UI/Ux end============= */

/* ==============Front-end start============= */

section.skills .skill:nth-child(2) .item:nth-child(1) .progress-bar .progress {
  height: 100%;
  width: 92%;
  background: var(--color-primary);
}
section.skills .skill:nth-child(2) .item:nth-child(2) .progress-bar .progress {
  height: 100%;
  width: 88%;
  background: var(--color-primary);
}
section.skills .skill:nth-child(2) .item:nth-child(3) .progress-bar .progress {
  height: 100%;
  width: 70%;
  background: var(--color-primary);
}
section.skills .skill:nth-child(2) .item:nth-child(4) .progress-bar .progress {
  height: 100%;
  width: 70%;
  background: var(--color-primary);
}
section.skills .skill:nth-child(2) .item:nth-child(5) .progress-bar .progress {
  height: 100%;
  width: 90%;
  background: var(--color-primary);
}
section.skills .skill:nth-child(2) .item:nth-child(6) .progress-bar .progress {
  height: 100%;
  width: 85%;
  background: var(--color-primary);
}

/* ==============Front-end end============= */

/* ==============Back-end start============= */
section.skills .skill:nth-child(3) .item:nth-child(1) .progress-bar .progress {
  height: 100%;
  width: 85%;
  background: var(--color-primary);
}
section.skills .skill:nth-child(3) .item:nth-child(2) .progress-bar .progress {
  height: 100%;
  width: 75%;
  background: var(--color-primary);
}
section.skills .skill:nth-child(3) .item:nth-child(3) .progress-bar .progress {
  height: 100%;
  width: 70%;
  background: var(--color-primary);
}
section.skills .skill:nth-child(3) .item:nth-child(4) .progress-bar .progress {
  height: 100%;
  width: 70%;
  background: var(--color-primary);
}
/* ==============Back-end end============= */

/* ==============CMS Start============= */
section.skills .skill:nth-child(4) .item:nth-child(1) .progress-bar .progress {
  height: 100%;
  width: 62%;
  background: var(--color-primary);
}
/* ==============CMS end============= */
/* <!-- <<=======================End skill section design===================================>> -->? */

/* <!-- <<=======================Start services section design===================================>> -->? */

section.services {
  background: var(--color-light);
}
section.services .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

section.services .container .service {
  border-radius: 10px;
  background: var(--color-white);
  padding: 3rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: pointer;
  transition: all 400ms ease;
}
section.services .container .service:hover {
  box-shadow: 0rem 0rem 2rem var(--color-primary);
}
section.services .container .service span {
  background: var(--color-primary);
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-white);
}
section.services .container .service:nth-child(2):hover {
  box-shadow: 0rem 0rem 2rem rgb(151, 34, 34);
  transition: all 400ms ease;
}
section.services .container .service:nth-child(3):hover {
  box-shadow: 0rem 0rem 2rem var(--color-sucess);
  transition: all 400ms ease;
}

section.services .container .service:nth-child(2) span {
  background: rgb(151, 31, 31);
}
section.services .container .service:nth-child(3) span {
  background: var(--color-sucess);
}
/* <!-- <<=======================ENd services section design===================================>> -->? */

/* <!-- <<=======================Starts recent works (portfolio) design===================================>> -->? */
section.recent-work h1 {
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 65%;
}

section.recent-work .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

section.recent-work .projects .project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.recent-work .projects .project .action {
  display: flex;
  gap: 2rem;
}

section.recent-work .projects .project .action a {
  color: var(--color-primary);
}
section.recent-work .projects .project .action a:hover {
  text-decoration: underline;
}
/* <!-- <<=======================End recent works (portfolio) design===================================>> -->? */

/* <!-- <<=======================Start contact section design===================================>> --> */
section.contact {
  background: url("./2024245.jpg") no-repeat center center/cover;
  padding: 0;
  max-width: 100vw;
}
section.contact .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10rem 0 7rem;
}
section.contact .container {
  width: 40%;
}
section.contact .container h1 {
  margin: 0;
  color: var(--color-white);
}
section.contact .container p {
  text-align: center;
  color: var(--color-white);
  opacity: 0, 8;
  margin-top: 0.5rem;
}
section.contact form {
  margin-top: 3rem;
}
section.contact form input,
section.contact form textarea {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1.6rem;
  border: 1px solid var(--color-white);
  background: transparent;
  transition: var(--transition);
}

section.contact form textarea {
  height: 10rem;
}

section.contact form input:focus,
section.contact form textarea:focus {
  background: var(--color-white);
  color: var(--color-black);
}
section.contact form input::placeholder,
section.contact form textarea::placeholder {
  color: var(--color-white);
}
section.contact form .btn {
  width: 14rem;
  border: none;
  background: var(--color-white);
  color: var(--color-black);
  margin: 2rem auto 0;
}
section.contact form .btn:hover {
  background: var(--color-primary);
  cursor: pointer;
  color: var(--color-white);
}

/* <!-- <<=======================End contact section design===================================>> --> */

/* <!-- <<=======================Start footer section design===================================>> --> */

footer {
  padding-top: 5rem;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .footer-name-tag {
  color: var(--color-primary);
}
footer .container ul {
  display: flex;
  gap: 3rem;
}
footer .container .footer-name-tag {
  font-weight: bolder;
  font-size: larger;
}
footer .container ul a {
  color: var(--color-dark);
  font-weight: bolder;
  transition: var(--transition);
}
footer .container ul a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}
footer .container .social {
  display: flex;
  gap: 2rem;
}
footer .container .social a {
  background: var(--color-light);
  color: var(--color-dark);
  padding: 0.3rem;
  border-radius: 50%;
  transition: var(--transition);
}
footer .container .social a:hover {
  background: var(--color-primary);

  color: var(--color-white);
}
footer .copyright {
  background: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  margin-top: 5rem;
  padding: 1.8rem 0;
  font-size: 1rem;
}

/* ============Media Query============= */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.6rem;
  }
  .container {
    width: 94%;
  }
  /* ==================navbar========== */

  nav {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  }

  nav h3 {
    margin-left: 1rem;
  }
  nav .container {
    width: 100%;
  }
  nav .container ul {
    position: fixed;
    top: 0;
    flex-direction: column;
    z-index: 3;
    width: 16rem;
    height: 100vh;
    background: var(--color-white);
    box-shadow: 1rem 0 2rem var(--color-primary-light);
    display: none;
  }
  nav ul li {
    height: 4.6rem;
    width: 100%;
  }
  nav .container ul li a {
    width: 100%;
    justify-content: start;
    padding-left: 2rem;
  }
  nav .container ul li a:hover {
    padding-left: 3rem;
    text-shadow: 0px 0px 0px var(--color-primary);
  }

  nav button {
    display: inline-block;
    cursor: pointer;
    background: transparent;
    color: var(--color-black);
    margin-right: 1rem;
  }
  nav button#close-btn {
    display: none;
  }

  /* ===========landing section============== */

  section.landing {
    padding-bottom: 7rem;
    max-width: 100vw;
    overflow: hidden;
  }

  section.landing .container {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 50%;

    text-align: center;
    row-gap: 6rem;
  }

  section.landing .container .social {
    display: none;
  }
  section.landing .container .info {
    width: 90%;
    margin: 0 auto;
  }
  section.landing .container .info h1 {
    text-align: center;
  }
  section.landing .container .info p {
    margin: 0 auto;
    width: 92%;
  }
  section.landing .container .profile-area {
    grid-row: 1;
    width: 94%;
    margin: 0 auto;
  }

  section.landing .container .outer-cercle {
    width: 16rem;
    height: 16rem;
  }
  section.landing .container .inner-cercle {
    width: 10rem;
    height: 10rem;
  }
  section.landing .container .inner-cercle i {
    width: 3rem;
    height: 3rem;
  }

  section.landing .profile-area .outer-cercle i:nth-child(1) {
    left: calc(50% - 0.8rem);
    top: -0.8rem;
  }
  section.landing .profile-area .outer-cercle i:nth-child(2) {
    right: -0.8rem;
    top: calc(50% - 0.8rem);
  }
  section.landing .profile-area .outer-cercle i:nth-child(3) {
    left: -0.8rem;
    top: calc(50% - 0.8rem);
  }
  section.landing .profile-area .outer-cercle i:nth-child(4) {
    left: calc(50% - 0.8rem);
    bottom: -0.8rem;
  }
  /* ============About section============ */
  section.about .container {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }
  /* ============skills section=========== */
  section.skills .container {
    width: 94%;
  }
  /* ===============skills section============== */
  section.services .container {
    grid-template-columns: 1fr;
  }
  /* ============portfolio section============= */
  section.recent-work .container .projects {
    grid-template-columns: 1fr;
  }
  section.recent-work .container h1 {
    width: 94vw;
    margin: 1.4rem 0 1rem;
  }
  /* ============Contact section============= */
  section.contact .container {
    width: 94%;
  }
  section.contact .container p {
    width: 80vw;
    margin: 0.5rem auto 0;
  }
  /* ============Footer section============= */
  footer .container {
    flex-direction: column;
    gap: 3rem;
  }
  footer .container ul {
    flex-direction: column;
    text-align: center;
    gap: 1.4rem;
  }
}
